/1024_icon 2.png
/sup.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/sup.xcworkspace/xcuserdata/gomez.xcuserdatad/UserInterfaceState.xcuserstate
/sup.xcworkspace/xcuserdata/gomez.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
